body {
    background-color: #3993DD ;
    color: #1bffd3;
    font-family: "Unity","Helvetica Neue","Helvetica","Roboto","Arial",sans-serif;
    font-size: 100%;
    margin-top: 15%;

}

#built{
    color: #DCFFFD;
    font-size: 300%;
    margin: auto;
    width: 70%;
    border:3px solid white;
    padding: 35px;
    text-align: center;

}

#built a {
    color: #DCFFFD;

}

.title{
    font-size: 300%;
    color: #DCFFFD;

}

.right{
    width: 65%;
    float: right;
    text-align: left;
    margin-top: 8.5%;
    padding-right: 5%;
}

.right-resume{
    width: 65%;
    float: right;
    margin-top: 3%;
}

.left{
    margin-top: 3%;
    width: 18%;
    float: left;
    text-align: right;
    padding-bottom: 18%;
    box-sizing: border-box;


}

div.left a {
    color: #DCFFFD;
    text-decoration: none;
    cursor: auto;
    font-size: 80%;


}

div.right a{
  color: #36F1CD;
  text-decoration: none;
  cursor: auto;
}

.oct{
    height: 65px;
    width: 65px;
    padding-bottom: -5px
}

.resume{
height: 90%;
width: 90%;
float: left;
}

.portfolio1{
height: 35%;
width: 35%
}

h1 {
font-size: 300%;
    color: #1bffd3;
}


h2 {
font-size: 200%
}

h3 {
font-size: 400%;
}

