body {
    background-color: #3F7CAC;
    color: #fff;
    font-family: sans-serif;
    height: 100%;
}

.title{
    font-size: 300%;
}

.left{
    width: 60%;
    float: left;
    text-align: left;
    padding-left: 10%;
    margin-top: 10%;
}

.left-resume{
    width: 50%;
    float: left;
    text-align: left;
    padding-left: 10%;
    margin-top: 3%;
}

.right{
    height: inherit;
    top: 0;
    width: 22%;
    float: right;
    background-color: #ffa95c;
    text-align: center;
    box-shadow: ;
    right: 0;
    padding-top: 15%;
    padding-bottom: 18%;
}

div.right a {
    color:#FFF;
    text-decoration: none;
    cursor: auto;
    font-size: 80%

}

div.left a{
  color: #fff;
  text-decoration: none;
  cursor: auto;
}

.oct{
    height: 65px;
    width: 65px;
    padding-bottom: -5px
}

.resume{
height: 100%;
width: 100%
}

h1 {
font-size: 300%
}

h2 {
font-size: 200%
}
