body {
    background-color: #009EA6;
    color: #fff;
    font-family: sans-serif;
}

.title{
    font-size: 300%;
}

.left{
    width: 50%;
    height: 100%;
    float: left;
    text-align: left;
    padding-left: 10%;
    margin-top: 15%;
}

.left-resume{
    width: 50%;
    height: 100%;
    float: left;
    text-align: left;
    padding-left: 10%;
    margin-top: 3%;
}

.right{
    margin-top: 0;
    margin-bottom: 0;
    width: 30%;
    float: right;
    background-color: #006166;
    text-align: center;
    padding-top: 22%;
    padding-bottom: 100%;
}

div.right a {
    color: #CBDF90;
/*//    color: #61D095;*/
    text-decoration: none;
    cursor: auto;
}

div.left a{
  color: #fff;
  text-decoration: none;
  cursor: auto;
}

.oct{
    height: 65px;
    width: 65px;
    padding-bottom: -5px
}

.resume{
height: 100%;
width: 100%
}

