body {
    background-color: #3993DD ;
    color: #1bffd3;
    font-family: sans-serif;
    height: 100%;
}

.title{
    font-size: 300%;
    color: #DCFFFD;

}

.left{
    width: 60%;
    float: left;
    text-align: left;
    padding-left: 10%;
    margin-top: 10%;
}

.left-resume{
    width: 50%;
    float: left;
    text-align: left;
    padding-left: 10%;
    margin-top: 3%;
}

.right{
    height: inherit;
    top: 0;
    width: 22%;
    float: right;
    text-align: center;
    box-shadow: ;
    right: 0;
    padding-top: 10%;
    padding-bottom: 18%;
}

div.right a {
    color: #DCFFFD;
    text-decoration: none;
    cursor: auto;
    font-size: 80%

}

div.left a{
  color: #36F1CD;
  text-decoration: none;
  cursor: auto;
}

.oct{
    height: 65px;
    width: 65px;
    padding-bottom: -5px
}

.resume{
height: 100%;
width: 100%
}

.portfolio1{
height: 65%;
width: 65%
}

h1 {
font-size: 300%;
    color: #1bffd3;
}


h2 {
font-size: 200%
}

h3 {
font-size: 400%;
}

