    <div class='right'>
        <strong><div class="title">Developer</div></strong>
            <h1>Hello, I'm Walid.</h1>
            <h2>I'm an entrepreneur, junior developer, and Mets fanatic living in North Carolina. I enjoy backend work with Ruby on Rails and I'm working on becoming fluent in all things JavaScript. People are my passion, so if you wanna chat please feel free to <a href="mailto:walid.e.asmar@gmail.com">email me at Walid.E.Asmar@gmail.com</a>.</h2>
    </div>


    <div class="left">

            <h3><%= link_to 'Portfolio', '/portfolio.html'%></h3>
            <h3><%= link_to 'Resume', '/resume.html'%></h3>
            <h3><%= link_to 'Contact', '/contact.html'%></h3>
        </div>
