    <div class='left'>
            <%= image_tag "octocat.png", alt: "Git", class: "portfolio1" %>
        <h1>View my projects on Github</h1>
    </div>

    <div class="right">
            <h3><%= link_to 'Home', '/home.html'%></h3>
            <h3><%= link_to 'Resume', '/resume.html'%></h3>
            <h3><%= link_to 'Contact', '/contact.html'%></h3>
</div>
